.container {
  width: 120rem;
  height: 55rem;
  margin: 5rem auto;
  border-radius: 3rem;
  overflow: hidden;
  display: flex;
  background-color: var(--white);
}

.leftContainer {
  width: 25%;
  height: 100%;
  background-color: var(--primary-medium);

  &__search {
    margin: 2rem;

    &--inputBox {
      width: 100%;
      height: 30px;
      padding: 0.2rem 0.6rem;
      border-radius: 0.5rem;
      border-style: none;
      outline-style: none;
    }
  }
}

.rightContainer {
  width: 75%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  background-color: var(--white);

  &__card {
    width: 25rem;
    height: 33rem;
    margin: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--white);
    box-shadow: var(--shadow-dark);

    &--image {
      width: 100%;
      height: 25rem;
      object-fit: cover;
    }

    &--content {
      font-size: 1.4rem;
      padding: 1rem;

      &-h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }
}

.test {
  font-size: 1.4rem;
  margin: 2rem;
  text-decoration: none;
  color: var(--white);
}

.about {
  font-size: 1.4rem;
  margin: 2rem;
}

.details {
  margin: 2rem;
}
